html, body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

ul {
  list-style: none;
}

body {
  background: lightgrey;
  padding: 20px;
}

.chat-room {
  display: block;
  border: 1px solid black;
  padding: 20px;
  padding-top: 0;
  height: 80%;
  background: white;
  overflow: auto;
}

.user {
  display: block;
  position: relative;
  margin: 20px;
  background: lightgrey;
  width: 100%;
}

.user-input {
  position: relative;
}

.user-input input {
  width: auto;
}

/*.user-input button {
  float: right;
  color: red;
}*/
